.vscode/
html_pages
dist/
test-file.json
config.yaml
generated-scraper-config.yaml
goskyr.class
goskyr.model
.release-env
.local-env
config-test-dir
mock-items
/_goskyr
/goskyr.bash
/goskyr.fish
debug/